.appheading {
  justify-content: center;
  align-items:end;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 40%;
  background-color: rgb(21, 15, 192);
  color: azure;
}

.appslogan {
  outline:auto;
  outline-width:10px;
  justify-content: center;
  outline-color: black;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 30%;
  background-color: rgb(238, 233, 233);
  color: rgb(48, 12, 224);
  margin: 5px;;
}
