<div class="property">
<h2>Property Detail View</h2>
<div class="card" style="width: 35rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item propId" >Property Id    :   {{p.propertyId}}</li>
    <li class="list-group-item category" >Category     :       {{p.propertyCategory}}</li>
    <li class="list-group-item" >Type : {{p.propertyType}}</li>
    <li class="list-group-item">City : {{p.propertyCity}}</li>
    <li class="list-group-item" >Features : {{p.feature}}</li>
    <li class="list-group-item">Rating : {{p.rating}}</li>
    <li class="list-group-item price">Price : {{p.propertyPrice}} night</li>
    <li class="list-group-item ">Owner name {{p.ownerName}}</li>
    <div class="propButton">
  </div>
  </ul>
  <button type="button" class="btn btn-outline-danger backtohome" routerLink="/adminNav">Back To Home</button>
</div>
</div>
