<!-- <div class="images">


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{{netImage}}" class="d-block w-100 " alt="Bunglow Image">
    </div>
    <div class="carousel-item  ">
      <img src="{{netImage2}}" class="d-block w-100 " alt="Flat  Image">
    </div>
    <div class="carousel-item ">
      <img src="{{netImage3}}" class="d-block w-100 " alt="Room Image">
    </div>
  </div>
</div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-m-4"><a href="#1"><img src="{{netImage}}"></a></div>
        </div>
        <div class="item ">
          <div class="col-m-4"><a href="#1"><img src="{{netImage2}}"></a></div>
        </div>
        <div class="item ">
          <div class="col-m-4"><a href="#1"><img src="{{netImage3}}"></a></div>
        </div>
        <!-- <div class="item">
          <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?yoga"></a></div>
        </div>
        <div class="item">
          <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?natural"></a></div>
        </div>
        <div class="item">
          <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?fitness"></a></div>
        </div> -->
        <!-- add  more items here -->
        <!-- Example item start:  -->

        <div class="item">
          <div class="col-xs-4"><a href="#1"><img src="https://source.unsplash.com/300x300/?cycling"></a></div>
        </div>

        <!--  Example item end -->
      </div>
      <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
</div>

